<ion-view view-title="Account">
 <ion-content>
   <div class="row">
     <div class="col col-100">
       <ion-list>
        <ion-radio ng-model="m_1" ng-checked="selected">Chuc be ngu ngon</ion-radio>
        <ion-radio ng-model="m_2" >Yeu em nhung khong voi toi</ion-radio>
        <ion-radio ng-model="m_3">Hay la mot ki niem</ion-radio>
        <ion-radio ng-model="m_4">Co khong giu, mat dung tim</ion-radio>
        <ion-radio ng-model="m_5">Anh nho em nhieu lam</ion-radio>
        <ion-radio ng-model="m_6">Con tim mong manh</ion-radio>
        <ion-radio ng-model="m_7"> Loi chua noi</ion-radio>
       </ion-list>
       <div class="row">
         <button class="button button-block button-dark col col-40"> Add</button>
         <a class="button button-block button-positive col col-40 col-offset-20" href="#/tab/newAlarm "> Choose</a>
       </div>
     </div>
   </div>
 </ion-content>
</ion-view>
